#a{
    position: absolute;
    margin-left: 700px;
    margin-top: 200px;
    height: 400px;
    width:  400px;
    background: white;
    border: 5px solid black;
}

#b{
    position: absolute;
    height: 200px;
    width: 200px;
    background: blue;
}

#c{
    position: absolute;
    height: 200px;
    width: 200px;
    margin-left: 200px;
    background: green;
    bottom: 0px;
   
}

#d{
    position: absolute;
    height: 200px;
    width: 200px;
    background: red;
    margin-left:100px;
    margin-bottom:20px;
    bottom: 100px;
    top: 100px;
    left: 0px;
    right:0px;
    
    
    
}
